html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#canvas {
  border: 3px solid white;
}

p {
  color: white;
  text-align: center;
  white-space: pre-line;
}

span {
  display: block;
  margin-top: 5px;
  text-align: center;
}
